@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #c5c4c4;
    --branco: #ffffff;
    --roxo-claro: #683c8d;
    --roxo-degrade: linear-gradient(97.54deg, #42265c 35.49%, #6a5199 165.37%);
    --fonte-principal: "Poppins";
    --roxo: #482569;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --roxo-secundario: #8359bb;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}